.red{color:#fff!important;background-color:#ff0000!important;}
.orange{color:#fff!important;background-color:#ff3300!important;}
.orange2{color:#fff!important;background-color:#ff6600!important;}
.white{color:#000!important;background-color:#fff!important;}

.green{color:#fff!important;background-color:#33ff00!important;}
.gold{color:#fff!important;background-color:#FFCC00!important;}
.yellow{color:#fff!important;background-color:#FFFF00!important;}
.lime{color:#fff!important;background-color:#00FF00!important;}
.grey{color:#fff!important;background-color:#616161!important;}
 .wide{letter-spacing:6px;}
 .xlarge{font-size:24px!important}
 .xxlarge{font-size:36px!important}
 .xxxlarge{font-size:48px!important}
 .jumbo{font-size:64px!important}
 .sidebar{height:100%;width:246px;background-color:#231f1f;position:fixed!important;z-index:1;overflow:auto}
 .marginLeft375{margin-left:375px;}
 .tcs{background-image: url("../img/tcs.jpg");}
 .link{color:red;}
 .link2{color:blue;}
 .errorMsg{color:red;font-size:12px; font-family:"monospace"; margin-bottom: -15px;  margin-top: -15px; letter-spacing: 1px;}
 
 
 
 
 body {
          background-image: url("../img/wallpaper.jpg");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        .container {
          width: 100%;
          height: 100%;
          padding-right: 15px;
          padding-left: 15px;
          margin-right: auto;
          margin-left: auto;
        }

        .displayProfile {
          background-image: url("../img/images/displayProfile.jpg");
          background-size: cover;
          background-position: center;
          width: 250px;
          height: 285px;
          margin: 0 auto;
          border: 3px ridge #9d9de1;
        }
        
         .indexBackground {
          font-size: 14px;
          background: url("../img/indexBackground.jpg");
          color: #19194d;
        }
        .back{background: url("../img/back2.jpg")}
        
        .name{
        font-size:28px;
        font-weight: bolder;
        }
        
        .padding{
        border: 3px ridge #9d9de1;
        }
        
        .signin{
         color:red;
         font-size:28px;
         margin: 0px 0 -25px 1420px;
        }
        
        .icons{
          display: flex;
          justify-content: center;
          gap: 40px;
        }
        
        .icons a {
          text-decoration: none;
        }

        .icons a svg {
          fill: #9d9de1 !important;
          transform: scale(1.5);
        }

    /* Remove margins from "page content" on small screens */
    @media only screen and (max-width: 600px) {#main {margin-left: 0}}
.largeImage{background:gray; text-align:center;}